/* ================ Variables ==================*/
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Livvic:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap");
/* ================ Pages =====================*/
main #loginPage,
main #registerPage,
main #welcomePage,
main #giftIdeaHomePage,
main #giftIdeaAdd,
main #summaryCard,
main #addToWishlistSection,
main #complete,
main #listEmptyPage,
main #addFriendPage,
main #friendsListPage,
main #resetContainer,
main #takePhoto {
  background-color: #363D51;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin-bottom: 0;
  color: #F9F9FB;
  font-family: "Livvic", sans-serif;
}

main #loginPage .loggedin #btn_logout,
main #loginPage #btn_AddGiftIdea,
main #registerPage .loggedin #btn_logout,
main #registerPage #btn_AddGiftIdea,
main #welcomePage .loggedin #btn_logout,
main #welcomePage #btn_AddGiftIdea,
main #giftIdeaHomePage .loggedin #btn_logout,
main #giftIdeaHomePage #btn_AddGiftIdea,
main #giftIdeaAdd .loggedin #btn_logout,
main #giftIdeaAdd #btn_AddGiftIdea,
main #summaryCard .loggedin #btn_logout,
main #summaryCard #btn_AddGiftIdea,
main #addToWishlistSection .loggedin #btn_logout,
main #addToWishlistSection #btn_AddGiftIdea,
main #complete .loggedin #btn_logout,
main #complete #btn_AddGiftIdea,
main #listEmptyPage .loggedin #btn_logout,
main #listEmptyPage #btn_AddGiftIdea,
main #addFriendPage .loggedin #btn_logout,
main #addFriendPage #btn_AddGiftIdea,
main #friendsListPage .loggedin #btn_logout,
main #friendsListPage #btn_AddGiftIdea,
main #resetContainer .loggedin #btn_logout,
main #resetContainer #btn_AddGiftIdea,
main #takePhoto .loggedin #btn_logout,
main #takePhoto #btn_AddGiftIdea {
  color: #212531;
}

main #loginPage #not-logged-in,
main #loginPage #registerForm,
main #registerPage #not-logged-in,
main #registerPage #registerForm,
main #welcomePage #not-logged-in,
main #welcomePage #registerForm,
main #giftIdeaHomePage #not-logged-in,
main #giftIdeaHomePage #registerForm,
main #giftIdeaAdd #not-logged-in,
main #giftIdeaAdd #registerForm,
main #summaryCard #not-logged-in,
main #summaryCard #registerForm,
main #addToWishlistSection #not-logged-in,
main #addToWishlistSection #registerForm,
main #complete #not-logged-in,
main #complete #registerForm,
main #listEmptyPage #not-logged-in,
main #listEmptyPage #registerForm,
main #addFriendPage #not-logged-in,
main #addFriendPage #registerForm,
main #friendsListPage #not-logged-in,
main #friendsListPage #registerForm,
main #resetContainer #not-logged-in,
main #resetContainer #registerForm,
main #takePhoto #not-logged-in,
main #takePhoto #registerForm {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60vw;
}

main #loginPage #not-logged-in a,
main #loginPage #not-logged-in span,
main #loginPage #registerForm a,
main #loginPage #registerForm span,
main #registerPage #not-logged-in a,
main #registerPage #not-logged-in span,
main #registerPage #registerForm a,
main #registerPage #registerForm span,
main #welcomePage #not-logged-in a,
main #welcomePage #not-logged-in span,
main #welcomePage #registerForm a,
main #welcomePage #registerForm span,
main #giftIdeaHomePage #not-logged-in a,
main #giftIdeaHomePage #not-logged-in span,
main #giftIdeaHomePage #registerForm a,
main #giftIdeaHomePage #registerForm span,
main #giftIdeaAdd #not-logged-in a,
main #giftIdeaAdd #not-logged-in span,
main #giftIdeaAdd #registerForm a,
main #giftIdeaAdd #registerForm span,
main #summaryCard #not-logged-in a,
main #summaryCard #not-logged-in span,
main #summaryCard #registerForm a,
main #summaryCard #registerForm span,
main #addToWishlistSection #not-logged-in a,
main #addToWishlistSection #not-logged-in span,
main #addToWishlistSection #registerForm a,
main #addToWishlistSection #registerForm span,
main #complete #not-logged-in a,
main #complete #not-logged-in span,
main #complete #registerForm a,
main #complete #registerForm span,
main #listEmptyPage #not-logged-in a,
main #listEmptyPage #not-logged-in span,
main #listEmptyPage #registerForm a,
main #listEmptyPage #registerForm span,
main #addFriendPage #not-logged-in a,
main #addFriendPage #not-logged-in span,
main #addFriendPage #registerForm a,
main #addFriendPage #registerForm span,
main #friendsListPage #not-logged-in a,
main #friendsListPage #not-logged-in span,
main #friendsListPage #registerForm a,
main #friendsListPage #registerForm span,
main #resetContainer #not-logged-in a,
main #resetContainer #not-logged-in span,
main #resetContainer #registerForm a,
main #resetContainer #registerForm span,
main #takePhoto #not-logged-in a,
main #takePhoto #not-logged-in span,
main #takePhoto #registerForm a,
main #takePhoto #registerForm span {
  color: #212531;
}

main #loginPage #not-logged-in .link2,
main #loginPage #not-logged-in .link3,
main #loginPage #not-logged-in span,
main #loginPage #registerForm .link2,
main #loginPage #registerForm .link3,
main #loginPage #registerForm span,
main #registerPage #not-logged-in .link2,
main #registerPage #not-logged-in .link3,
main #registerPage #not-logged-in span,
main #registerPage #registerForm .link2,
main #registerPage #registerForm .link3,
main #registerPage #registerForm span,
main #welcomePage #not-logged-in .link2,
main #welcomePage #not-logged-in .link3,
main #welcomePage #not-logged-in span,
main #welcomePage #registerForm .link2,
main #welcomePage #registerForm .link3,
main #welcomePage #registerForm span,
main #giftIdeaHomePage #not-logged-in .link2,
main #giftIdeaHomePage #not-logged-in .link3,
main #giftIdeaHomePage #not-logged-in span,
main #giftIdeaHomePage #registerForm .link2,
main #giftIdeaHomePage #registerForm .link3,
main #giftIdeaHomePage #registerForm span,
main #giftIdeaAdd #not-logged-in .link2,
main #giftIdeaAdd #not-logged-in .link3,
main #giftIdeaAdd #not-logged-in span,
main #giftIdeaAdd #registerForm .link2,
main #giftIdeaAdd #registerForm .link3,
main #giftIdeaAdd #registerForm span,
main #summaryCard #not-logged-in .link2,
main #summaryCard #not-logged-in .link3,
main #summaryCard #not-logged-in span,
main #summaryCard #registerForm .link2,
main #summaryCard #registerForm .link3,
main #summaryCard #registerForm span,
main #addToWishlistSection #not-logged-in .link2,
main #addToWishlistSection #not-logged-in .link3,
main #addToWishlistSection #not-logged-in span,
main #addToWishlistSection #registerForm .link2,
main #addToWishlistSection #registerForm .link3,
main #addToWishlistSection #registerForm span,
main #complete #not-logged-in .link2,
main #complete #not-logged-in .link3,
main #complete #not-logged-in span,
main #complete #registerForm .link2,
main #complete #registerForm .link3,
main #complete #registerForm span,
main #listEmptyPage #not-logged-in .link2,
main #listEmptyPage #not-logged-in .link3,
main #listEmptyPage #not-logged-in span,
main #listEmptyPage #registerForm .link2,
main #listEmptyPage #registerForm .link3,
main #listEmptyPage #registerForm span,
main #addFriendPage #not-logged-in .link2,
main #addFriendPage #not-logged-in .link3,
main #addFriendPage #not-logged-in span,
main #addFriendPage #registerForm .link2,
main #addFriendPage #registerForm .link3,
main #addFriendPage #registerForm span,
main #friendsListPage #not-logged-in .link2,
main #friendsListPage #not-logged-in .link3,
main #friendsListPage #not-logged-in span,
main #friendsListPage #registerForm .link2,
main #friendsListPage #registerForm .link3,
main #friendsListPage #registerForm span,
main #resetContainer #not-logged-in .link2,
main #resetContainer #not-logged-in .link3,
main #resetContainer #not-logged-in span,
main #resetContainer #registerForm .link2,
main #resetContainer #registerForm .link3,
main #resetContainer #registerForm span,
main #takePhoto #not-logged-in .link2,
main #takePhoto #not-logged-in .link3,
main #takePhoto #not-logged-in span,
main #takePhoto #registerForm .link2,
main #takePhoto #registerForm .link3,
main #takePhoto #registerForm span {
  color: #F9F9FB;
}

main #loginPage #not-logged-in input#email1,
main #loginPage #not-logged-in #password1,
main #loginPage #not-logged-in #btn_login,
main #loginPage #not-logged-in #username,
main #loginPage #not-logged-in #email,
main #loginPage #not-logged-in #password,
main #loginPage #not-logged-in #confirmPassword,
main #loginPage #not-logged-in #registerButton,
main #loginPage #registerForm input#email1,
main #loginPage #registerForm #password1,
main #loginPage #registerForm #btn_login,
main #loginPage #registerForm #username,
main #loginPage #registerForm #email,
main #loginPage #registerForm #password,
main #loginPage #registerForm #confirmPassword,
main #loginPage #registerForm #registerButton,
main #registerPage #not-logged-in input#email1,
main #registerPage #not-logged-in #password1,
main #registerPage #not-logged-in #btn_login,
main #registerPage #not-logged-in #username,
main #registerPage #not-logged-in #email,
main #registerPage #not-logged-in #password,
main #registerPage #not-logged-in #confirmPassword,
main #registerPage #not-logged-in #registerButton,
main #registerPage #registerForm input#email1,
main #registerPage #registerForm #password1,
main #registerPage #registerForm #btn_login,
main #registerPage #registerForm #username,
main #registerPage #registerForm #email,
main #registerPage #registerForm #password,
main #registerPage #registerForm #confirmPassword,
main #registerPage #registerForm #registerButton,
main #welcomePage #not-logged-in input#email1,
main #welcomePage #not-logged-in #password1,
main #welcomePage #not-logged-in #btn_login,
main #welcomePage #not-logged-in #username,
main #welcomePage #not-logged-in #email,
main #welcomePage #not-logged-in #password,
main #welcomePage #not-logged-in #confirmPassword,
main #welcomePage #not-logged-in #registerButton,
main #welcomePage #registerForm input#email1,
main #welcomePage #registerForm #password1,
main #welcomePage #registerForm #btn_login,
main #welcomePage #registerForm #username,
main #welcomePage #registerForm #email,
main #welcomePage #registerForm #password,
main #welcomePage #registerForm #confirmPassword,
main #welcomePage #registerForm #registerButton,
main #giftIdeaHomePage #not-logged-in input#email1,
main #giftIdeaHomePage #not-logged-in #password1,
main #giftIdeaHomePage #not-logged-in #btn_login,
main #giftIdeaHomePage #not-logged-in #username,
main #giftIdeaHomePage #not-logged-in #email,
main #giftIdeaHomePage #not-logged-in #password,
main #giftIdeaHomePage #not-logged-in #confirmPassword,
main #giftIdeaHomePage #not-logged-in #registerButton,
main #giftIdeaHomePage #registerForm input#email1,
main #giftIdeaHomePage #registerForm #password1,
main #giftIdeaHomePage #registerForm #btn_login,
main #giftIdeaHomePage #registerForm #username,
main #giftIdeaHomePage #registerForm #email,
main #giftIdeaHomePage #registerForm #password,
main #giftIdeaHomePage #registerForm #confirmPassword,
main #giftIdeaHomePage #registerForm #registerButton,
main #giftIdeaAdd #not-logged-in input#email1,
main #giftIdeaAdd #not-logged-in #password1,
main #giftIdeaAdd #not-logged-in #btn_login,
main #giftIdeaAdd #not-logged-in #username,
main #giftIdeaAdd #not-logged-in #email,
main #giftIdeaAdd #not-logged-in #password,
main #giftIdeaAdd #not-logged-in #confirmPassword,
main #giftIdeaAdd #not-logged-in #registerButton,
main #giftIdeaAdd #registerForm input#email1,
main #giftIdeaAdd #registerForm #password1,
main #giftIdeaAdd #registerForm #btn_login,
main #giftIdeaAdd #registerForm #username,
main #giftIdeaAdd #registerForm #email,
main #giftIdeaAdd #registerForm #password,
main #giftIdeaAdd #registerForm #confirmPassword,
main #giftIdeaAdd #registerForm #registerButton,
main #summaryCard #not-logged-in input#email1,
main #summaryCard #not-logged-in #password1,
main #summaryCard #not-logged-in #btn_login,
main #summaryCard #not-logged-in #username,
main #summaryCard #not-logged-in #email,
main #summaryCard #not-logged-in #password,
main #summaryCard #not-logged-in #confirmPassword,
main #summaryCard #not-logged-in #registerButton,
main #summaryCard #registerForm input#email1,
main #summaryCard #registerForm #password1,
main #summaryCard #registerForm #btn_login,
main #summaryCard #registerForm #username,
main #summaryCard #registerForm #email,
main #summaryCard #registerForm #password,
main #summaryCard #registerForm #confirmPassword,
main #summaryCard #registerForm #registerButton,
main #addToWishlistSection #not-logged-in input#email1,
main #addToWishlistSection #not-logged-in #password1,
main #addToWishlistSection #not-logged-in #btn_login,
main #addToWishlistSection #not-logged-in #username,
main #addToWishlistSection #not-logged-in #email,
main #addToWishlistSection #not-logged-in #password,
main #addToWishlistSection #not-logged-in #confirmPassword,
main #addToWishlistSection #not-logged-in #registerButton,
main #addToWishlistSection #registerForm input#email1,
main #addToWishlistSection #registerForm #password1,
main #addToWishlistSection #registerForm #btn_login,
main #addToWishlistSection #registerForm #username,
main #addToWishlistSection #registerForm #email,
main #addToWishlistSection #registerForm #password,
main #addToWishlistSection #registerForm #confirmPassword,
main #addToWishlistSection #registerForm #registerButton,
main #complete #not-logged-in input#email1,
main #complete #not-logged-in #password1,
main #complete #not-logged-in #btn_login,
main #complete #not-logged-in #username,
main #complete #not-logged-in #email,
main #complete #not-logged-in #password,
main #complete #not-logged-in #confirmPassword,
main #complete #not-logged-in #registerButton,
main #complete #registerForm input#email1,
main #complete #registerForm #password1,
main #complete #registerForm #btn_login,
main #complete #registerForm #username,
main #complete #registerForm #email,
main #complete #registerForm #password,
main #complete #registerForm #confirmPassword,
main #complete #registerForm #registerButton,
main #listEmptyPage #not-logged-in input#email1,
main #listEmptyPage #not-logged-in #password1,
main #listEmptyPage #not-logged-in #btn_login,
main #listEmptyPage #not-logged-in #username,
main #listEmptyPage #not-logged-in #email,
main #listEmptyPage #not-logged-in #password,
main #listEmptyPage #not-logged-in #confirmPassword,
main #listEmptyPage #not-logged-in #registerButton,
main #listEmptyPage #registerForm input#email1,
main #listEmptyPage #registerForm #password1,
main #listEmptyPage #registerForm #btn_login,
main #listEmptyPage #registerForm #username,
main #listEmptyPage #registerForm #email,
main #listEmptyPage #registerForm #password,
main #listEmptyPage #registerForm #confirmPassword,
main #listEmptyPage #registerForm #registerButton,
main #addFriendPage #not-logged-in input#email1,
main #addFriendPage #not-logged-in #password1,
main #addFriendPage #not-logged-in #btn_login,
main #addFriendPage #not-logged-in #username,
main #addFriendPage #not-logged-in #email,
main #addFriendPage #not-logged-in #password,
main #addFriendPage #not-logged-in #confirmPassword,
main #addFriendPage #not-logged-in #registerButton,
main #addFriendPage #registerForm input#email1,
main #addFriendPage #registerForm #password1,
main #addFriendPage #registerForm #btn_login,
main #addFriendPage #registerForm #username,
main #addFriendPage #registerForm #email,
main #addFriendPage #registerForm #password,
main #addFriendPage #registerForm #confirmPassword,
main #addFriendPage #registerForm #registerButton,
main #friendsListPage #not-logged-in input#email1,
main #friendsListPage #not-logged-in #password1,
main #friendsListPage #not-logged-in #btn_login,
main #friendsListPage #not-logged-in #username,
main #friendsListPage #not-logged-in #email,
main #friendsListPage #not-logged-in #password,
main #friendsListPage #not-logged-in #confirmPassword,
main #friendsListPage #not-logged-in #registerButton,
main #friendsListPage #registerForm input#email1,
main #friendsListPage #registerForm #password1,
main #friendsListPage #registerForm #btn_login,
main #friendsListPage #registerForm #username,
main #friendsListPage #registerForm #email,
main #friendsListPage #registerForm #password,
main #friendsListPage #registerForm #confirmPassword,
main #friendsListPage #registerForm #registerButton,
main #resetContainer #not-logged-in input#email1,
main #resetContainer #not-logged-in #password1,
main #resetContainer #not-logged-in #btn_login,
main #resetContainer #not-logged-in #username,
main #resetContainer #not-logged-in #email,
main #resetContainer #not-logged-in #password,
main #resetContainer #not-logged-in #confirmPassword,
main #resetContainer #not-logged-in #registerButton,
main #resetContainer #registerForm input#email1,
main #resetContainer #registerForm #password1,
main #resetContainer #registerForm #btn_login,
main #resetContainer #registerForm #username,
main #resetContainer #registerForm #email,
main #resetContainer #registerForm #password,
main #resetContainer #registerForm #confirmPassword,
main #resetContainer #registerForm #registerButton,
main #takePhoto #not-logged-in input#email1,
main #takePhoto #not-logged-in #password1,
main #takePhoto #not-logged-in #btn_login,
main #takePhoto #not-logged-in #username,
main #takePhoto #not-logged-in #email,
main #takePhoto #not-logged-in #password,
main #takePhoto #not-logged-in #confirmPassword,
main #takePhoto #not-logged-in #registerButton,
main #takePhoto #registerForm input#email1,
main #takePhoto #registerForm #password1,
main #takePhoto #registerForm #btn_login,
main #takePhoto #registerForm #username,
main #takePhoto #registerForm #email,
main #takePhoto #registerForm #password,
main #takePhoto #registerForm #confirmPassword,
main #takePhoto #registerForm #registerButton {
  padding: 1rem 0 1rem 0.3rem;
  border-radius: 0.7rem;
  border: 1px solid #F9F9FB;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 1rem;
  margin-left: 0;
}

main #loginPage #not-logged-in .forgot-password,
main #loginPage #registerForm .forgot-password,
main #registerPage #not-logged-in .forgot-password,
main #registerPage #registerForm .forgot-password,
main #welcomePage #not-logged-in .forgot-password,
main #welcomePage #registerForm .forgot-password,
main #giftIdeaHomePage #not-logged-in .forgot-password,
main #giftIdeaHomePage #registerForm .forgot-password,
main #giftIdeaAdd #not-logged-in .forgot-password,
main #giftIdeaAdd #registerForm .forgot-password,
main #summaryCard #not-logged-in .forgot-password,
main #summaryCard #registerForm .forgot-password,
main #addToWishlistSection #not-logged-in .forgot-password,
main #addToWishlistSection #registerForm .forgot-password,
main #complete #not-logged-in .forgot-password,
main #complete #registerForm .forgot-password,
main #listEmptyPage #not-logged-in .forgot-password,
main #listEmptyPage #registerForm .forgot-password,
main #addFriendPage #not-logged-in .forgot-password,
main #addFriendPage #registerForm .forgot-password,
main #friendsListPage #not-logged-in .forgot-password,
main #friendsListPage #registerForm .forgot-password,
main #resetContainer #not-logged-in .forgot-password,
main #resetContainer #registerForm .forgot-password,
main #takePhoto #not-logged-in .forgot-password,
main #takePhoto #registerForm .forgot-password {
  text-align: right;
}

main #loginPage #not-logged-in #btn_login,
main #loginPage #not-logged-in #registerButton,
main #loginPage #registerForm #btn_login,
main #loginPage #registerForm #registerButton,
main #registerPage #not-logged-in #btn_login,
main #registerPage #not-logged-in #registerButton,
main #registerPage #registerForm #btn_login,
main #registerPage #registerForm #registerButton,
main #welcomePage #not-logged-in #btn_login,
main #welcomePage #not-logged-in #registerButton,
main #welcomePage #registerForm #btn_login,
main #welcomePage #registerForm #registerButton,
main #giftIdeaHomePage #not-logged-in #btn_login,
main #giftIdeaHomePage #not-logged-in #registerButton,
main #giftIdeaHomePage #registerForm #btn_login,
main #giftIdeaHomePage #registerForm #registerButton,
main #giftIdeaAdd #not-logged-in #btn_login,
main #giftIdeaAdd #not-logged-in #registerButton,
main #giftIdeaAdd #registerForm #btn_login,
main #giftIdeaAdd #registerForm #registerButton,
main #summaryCard #not-logged-in #btn_login,
main #summaryCard #not-logged-in #registerButton,
main #summaryCard #registerForm #btn_login,
main #summaryCard #registerForm #registerButton,
main #addToWishlistSection #not-logged-in #btn_login,
main #addToWishlistSection #not-logged-in #registerButton,
main #addToWishlistSection #registerForm #btn_login,
main #addToWishlistSection #registerForm #registerButton,
main #complete #not-logged-in #btn_login,
main #complete #not-logged-in #registerButton,
main #complete #registerForm #btn_login,
main #complete #registerForm #registerButton,
main #listEmptyPage #not-logged-in #btn_login,
main #listEmptyPage #not-logged-in #registerButton,
main #listEmptyPage #registerForm #btn_login,
main #listEmptyPage #registerForm #registerButton,
main #addFriendPage #not-logged-in #btn_login,
main #addFriendPage #not-logged-in #registerButton,
main #addFriendPage #registerForm #btn_login,
main #addFriendPage #registerForm #registerButton,
main #friendsListPage #not-logged-in #btn_login,
main #friendsListPage #not-logged-in #registerButton,
main #friendsListPage #registerForm #btn_login,
main #friendsListPage #registerForm #registerButton,
main #resetContainer #not-logged-in #btn_login,
main #resetContainer #not-logged-in #registerButton,
main #resetContainer #registerForm #btn_login,
main #resetContainer #registerForm #registerButton,
main #takePhoto #not-logged-in #btn_login,
main #takePhoto #not-logged-in #registerButton,
main #takePhoto #registerForm #btn_login,
main #takePhoto #registerForm #registerButton {
  background-color: #86E4DE;
  border-color: #86E4DE;
  color: #212531;
}

main #loginPage h2,
main #registerPage h2,
main #welcomePage h2,
main #giftIdeaHomePage h2,
main #giftIdeaAdd h2,
main #summaryCard h2,
main #addToWishlistSection h2,
main #complete h2,
main #listEmptyPage h2,
main #addFriendPage h2,
main #friendsListPage h2,
main #resetContainer h2,
main #takePhoto h2 {
  color: #F9F9FB;
  text-align: center;
}

main #loginPage label,
main #registerPage label,
main #welcomePage label,
main #giftIdeaHomePage label,
main #giftIdeaAdd label,
main #summaryCard label,
main #addToWishlistSection label,
main #complete label,
main #listEmptyPage label,
main #addFriendPage label,
main #friendsListPage label,
main #resetContainer label,
main #takePhoto label {
  padding: 0;
}

main #loginPage .footer-login,
main #registerPage .footer-login,
main #welcomePage .footer-login,
main #giftIdeaHomePage .footer-login,
main #giftIdeaAdd .footer-login,
main #summaryCard .footer-login,
main #addToWishlistSection .footer-login,
main #complete .footer-login,
main #listEmptyPage .footer-login,
main #addFriendPage .footer-login,
main #friendsListPage .footer-login,
main #resetContainer .footer-login,
main #takePhoto .footer-login {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

main #loginPage #registerForm .footer-register,
main #registerPage #registerForm .footer-register,
main #welcomePage #registerForm .footer-register,
main #giftIdeaHomePage #registerForm .footer-register,
main #giftIdeaAdd #registerForm .footer-register,
main #summaryCard #registerForm .footer-register,
main #addToWishlistSection #registerForm .footer-register,
main #complete #registerForm .footer-register,
main #listEmptyPage #registerForm .footer-register,
main #addFriendPage #registerForm .footer-register,
main #friendsListPage #registerForm .footer-register,
main #resetContainer #registerForm .footer-register,
main #takePhoto #registerForm .footer-register {
  text-align: center;
  margin-top: 1rem;
}

main #loginPage #registerForm .footer-register span,
main #loginPage #registerForm .footer-register a,
main #registerPage #registerForm .footer-register span,
main #registerPage #registerForm .footer-register a,
main #welcomePage #registerForm .footer-register span,
main #welcomePage #registerForm .footer-register a,
main #giftIdeaHomePage #registerForm .footer-register span,
main #giftIdeaHomePage #registerForm .footer-register a,
main #giftIdeaAdd #registerForm .footer-register span,
main #giftIdeaAdd #registerForm .footer-register a,
main #summaryCard #registerForm .footer-register span,
main #summaryCard #registerForm .footer-register a,
main #addToWishlistSection #registerForm .footer-register span,
main #addToWishlistSection #registerForm .footer-register a,
main #complete #registerForm .footer-register span,
main #complete #registerForm .footer-register a,
main #listEmptyPage #registerForm .footer-register span,
main #listEmptyPage #registerForm .footer-register a,
main #addFriendPage #registerForm .footer-register span,
main #addFriendPage #registerForm .footer-register a,
main #friendsListPage #registerForm .footer-register span,
main #friendsListPage #registerForm .footer-register a,
main #resetContainer #registerForm .footer-register span,
main #resetContainer #registerForm .footer-register a,
main #takePhoto #registerForm .footer-register span,
main #takePhoto #registerForm .footer-register a {
  color: #F9F9FB;
}

main #welcomePage h1 {
  font-size: 3rem;
}

main #welcomePage .footer-welcome {
  text-align: center;
}

main #welcomePage .footer-welcome div {
  padding: 1rem;
}

main #welcomePage .footer-welcome a {
  color: #F9F9FB;
}

main #demo-page .demo-carousel {
  height: 70vh;
  background-color: #F9F9FB;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

main #demo-page .fas {
  justify-self: baseline;
}

main #demo-page .footer-demo {
  background-color: #363D51;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  height: 30vh;
}

main #demo-page #sign-up,
main #demo-page #log-in {
  width: 60%;
  font-family: "Livvic", sans-serif;
  margin: 1rem;
}

main #demo-page #sign-up a,
main #demo-page #log-in a {
  text-decoration: none;
}

main #loginPage #logged-in {
  justify-content: center;
  height: 40vh;
}

main #loginPage #btn_logout,
main #loginPage #btn_AddGiftIdea,
main #loginPage #btn_AddFriend {
  padding: 1rem 0;
  border-radius: 0.7rem;
  border: 1px solid #F9F9FB;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 1rem;
  margin-left: 0;
  background-color: #86E4DE;
  border-color: #86E4DE;
  color: #212531;
}

main #loginPage #btn_logout a,
main #loginPage #btn_AddGiftIdea a,
main #loginPage #btn_AddFriend a {
  text-decoration: none;
  color: #363D51;
}

main #giftIdeaHomePage {
  display: flex;
  justify-content: center;
  align-items: center;
}

main #giftIdeaHomePage .link4 {
  color: #F9F9FB;
}

main #giftIdeaHomePage #startIdeaBtn {
  background-color: #86E4DE;
  border-color: #86E4DE;
  color: #F9F9FB;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
}

main #giftIdeaHomePage #startIdeaBtn a {
  color: #212531;
}

#summaryCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#summaryCard #summaryCardimage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .add-idea-1,
.add-idea-2,
.add-idea-3 {
  width: 60vw;
}

main .add-idea-1 label,
.add-idea-2 label,
.add-idea-3 label {
  color: #F9F9FB;
}

main .add-idea-1 .images,
.add-idea-2 .images,
.add-idea-3 .images {
  text-align: center;
  margin-top: 8rem;
}

main .add-idea-1 #displayDesc,
.add-idea-2 #displayDesc,
.add-idea-3 #displayDesc {
  margin-bottom: 4rem;
}

main .add-idea-1 #ideaForm #gift_title,
main .add-idea-1 #ideaForm #gift_description,
.add-idea-2 #ideaForm #gift_title,
.add-idea-2 #ideaForm #gift_description,
.add-idea-3 #ideaForm #gift_title,
.add-idea-3 #ideaForm #gift_description {
  background: none;
  border: none;
  padding: 0.5rem 0;
  border-bottom: 1px solid #F9F9FB;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 1rem;
  margin-left: 0;
  color: #F9F9FB;
}

main .add-idea-1 #ideaForm #gift_title::placeholder,
main .add-idea-1 #ideaForm #gift_description::placeholder,
.add-idea-2 #ideaForm #gift_title::placeholder,
.add-idea-2 #ideaForm #gift_description::placeholder,
.add-idea-3 #ideaForm #gift_title::placeholder,
.add-idea-3 #ideaForm #gift_description::placeholder {
  color: #F9F9FB;
}

main .add-idea-1 #locate,
.add-idea-2 #locate,
.add-idea-3 #locate {
  display: flex;
  background: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  border-radius: 44px;
  width: 301px;
  height: 48px;
  justify-content: flex-end;
  max-width: 100%;
  padding-right: 1rem;
  margin-top: 0.5rem;
}

main .add-idea-1 #locate .fas,
.add-idea-2 #locate .fas,
.add-idea-3 #locate .fas {
  display: flex;
  font-size: 1.5rem;
  align-self: center;
  text-align: end;
}

main #takePhoto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

main #takePhoto #camera {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main #takePhoto #snap {
  margin: 1rem;
}

main #takePhoto #backToIdeaAdd2 {
  margin-left: 0;
}

#takePhoto #camera {
  height: 40vw;
}

#map-link {
  color: #F9F9FB;
}

.add-idea-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#windowImage,
#windowDescription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#nextToWishlists {
  margin: 0;
  padding: 0;
}

#addGift,
#nextToWishlists,
#addtowish,
#nextToEvents,
#addToDB,
#sign-up,
#log-in,
#addFriend,
#addFriendBtn,
#fetchFriendsBtn,
#reset_password,
#noreset,
#snap,
#backtologin {
  padding: 1rem 0;
  border-radius: 1rem;
  border: 1px solid #F9F9FB;
  display: flex;
  justify-content: center;
  background-color: #86E4DE;
  border-color: #86E4DE;
  color: #212531;
}

#addGift a,
#nextToWishlists a,
#addtowish a,
#nextToEvents a,
#addToDB a,
#sign-up a,
#log-in a,
#addFriend a,
#addFriendBtn a,
#fetchFriendsBtn a,
#reset_password a,
#noreset a,
#snap a,
#backtologin a {
  color: #212531;
}

#add-wish-msg {
  text-align: center;
}

#giftcard_display {
  width: 80vw;
  margin: 1rem;
}

#giftcard_display .displaycard {
  border-color: #F9F9FB;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

#giftcard_display .displaycard div,
#giftcard_display .displaycard h3 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

#giftcard_display .displaycard button,
#giftcard_display .editDescInput,
#giftcard_display .editTitleInput {
  padding: 0.2rem 0;
  border-radius: 0.7rem;
  border: 1px solid #363D51;
  width: 13%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
  margin-left: 0;
  background-color: #ABA0F5;
  border-color: #ABA0F5;
  color: #212531;
}

#giftcard_display .editDescInput,
#giftcard_display .editTitleInput {
  background-color: #F9F9FB;
  color: #363D51;
}

#friendsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#friendsList li {
  list-style-type: none;
}

#friendsList button {
  padding: 0 5rem;
  color: #212531;
  border-radius: 0.7rem;
  border: 1px solid #F9F9FB;
  width: 13%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
  margin-left: 0;
  background-color: #FF90A3;
  border-color: #FF90A3;
}

#friendsListFromDB #fetchedFriendsList li {
  padding: 0 5rem;
  color: #212531;
  border-radius: 0.7rem;
  border: 1px solid #F9F9FB;
  width: 13%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
  margin-left: 0;
  background-color: #FF90A3;
  border-color: #FF90A3;
}

#fetchFriendsBtn {
  padding: 1rem 3rem;
  font-size: 1rem;
  font-family: "Livvic", sans-serif;
}

#addFriend,
#addFriendBtn {
  width: 40%;
}

#addFriend a,
#addFriendBtn a {
  text-decoration: none;
}

#addFriendBtn {
  margin-bottom: 2rem;
}

input#friendName,
#friendEventSelect,
#friendDate {
  padding: 0.5rem 0;
  border-radius: 0.7rem;
  border: 1px solid #F9F9FB;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  margin-left: 0;
  width: 60%;
}

#friendDate {
  margin-bottom: 1rem;
}

.profile-pic a {
  color: #86E4DE;
}

.friendAdded a {
  color: #86E4DE;
}

#resetContainer form {
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.reset-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#reset_password,
#noreset {
  padding: 1rem 2rem;
  margin: 0.4rem;
}

label {
  padding: 1rem;
}

#email_to_reset {
  padding: 1rem 0 1rem 0.3rem;
  border-radius: 0.7rem;
  border: 1px solid #F9F9FB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2rem;
  margin-left: 0;
  width: 30rem;
}

#backtologin {
  width: 12rem;
}

/* ================ Mixins =====================*/
/* ================ Layout =====================*/
/* Testing Styles ==================== */
section,
.displaycard {
  border: 1px solid #000;
  /* flex: 0 0 43%; */
  margin: 1%;
}

main {
  display: flex;
  flex-flow: row wrap;
}

#not-logged-in,
#logged-in {
  display: none;
}

.yes-reset,
.no-reset {
  display: inline-block;
}

.back-to-login {
  display: none;
}

.hide {
  display: none;
}

.show {
  display: block;
}

/* Styles according to design ========================== */
.bottom_navbar ul {
  display: flex;
}

.bottom_navbar ul li {
  list-style-type: none;
}

main section {
  width: 100%;
  min-height: 70vh;
}

/* ================ Typography =====================*/
#giftIdeaProcess h2 {
  font-family: "Baloo Bhai 2", sans-serif;
  font-weight: 500;
  font-size: 28px;
}

#giftIdeaProcess a, #giftIdeaProcess .button, #giftIdeaProcess button {
  font-family: "Oxygen", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}

#giftIdeaProcess input, #giftIdeaProcess textarea {
  font-family: "Oxygen", sans-serif;
  font-size: 14px;
}

#giftIdeaProcess h3 {
  font-family: "Baloo Bhai 2", sans-serif;
  font-weight: 500;
  font-size: 22px;
}

#giftIdeaProcess .displaycard div {
  font-family: "Livvic", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

#loginPage h2 {
  font-family: "Baloo Bhai 2", sans-serif;
  font-weight: 500;
  font-size: 28px;
}

#loginPage .notloggedin input {
  font-family: "Oxygen", sans-serif;
  font-size: 14px;
}

#loginPage .notloggedin a, #loginPage .notloggedin span {
  font-family: "Livvic", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
}

#loginPage .notloggedin button {
  font-family: "Oxygen", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

#loginPage .loggedin h3 {
  font-family: "Baloo Bhai 2", sans-serif;
  font-weight: 500;
  font-size: 22px;
}

#loginPage .loggedin p {
  font-family: "Livvic", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

#loginPage .loggedin button {
  font-family: "Oxygen", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

#registerPage h2 {
  font-family: "Baloo Bhai 2", sans-serif;
  font-weight: 500;
  font-size: 28px;
}

#registerPage #registerForm label {
  font-family: "Livvic", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

#registerPage #registerForm button, #registerPage #registerForm input {
  font-family: "Oxygen", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

#resetContainer h2 {
  font-family: "Baloo Bhai 2", sans-serif;
  font-weight: 500;
  font-size: 28px;
}

#resetContainer h4 {
  font-family: "Livvic", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

#resetContainer label {
  font-family: "Livvic", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

#resetContainer button, #resetContainer input {
  font-family: "Oxygen", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

#listEmptyPage h2 {
  font-family: "Baloo Bhai 2", sans-serif;
  font-weight: 500;
  font-size: 28px;
}

#listEmptyPage button {
  font-family: "Oxygen", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

#addFriendPage h2 {
  font-family: "Baloo Bhai 2", sans-serif;
  font-weight: 500;
  font-size: 28px;
}

#addFriendPage label, #addFriendPage .profile-pic {
  font-family: "Livvic", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

#addFriendPage input, #addFriendPage #friendEventSelect, #addFriendPage button {
  font-family: "Oxygen", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

#friendsListPage h2 {
  font-family: "Baloo Bhai 2", sans-serif;
  font-weight: 500;
  font-size: 28px;
}

#friendsListPage a {
  font-family: "Oxygen", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}

#friendsListPage #fetchedFriendsList {
  font-family: "Livvic", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.footer_container a {
  font-family: "Oxygen", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}

/* ================ Buttons =====================*/
#giftIdeaHomePage #startIdeaBtn,
#giftIdeaHomePage #addGift,
#giftIdeaHomePage #nextToWishlists,
#giftIdeaHomePage #addtowish,
#giftIdeaHomePage #addToDB,
#giftIdeaAdd #startIdeaBtn,
#giftIdeaAdd #addGift,
#giftIdeaAdd #nextToWishlists,
#giftIdeaAdd #addtowish,
#giftIdeaAdd #addToDB,
#takePhoto #startIdeaBtn,
#takePhoto #addGift,
#takePhoto #nextToWishlists,
#takePhoto #addtowish,
#takePhoto #addToDB,
#summaryCard #startIdeaBtn,
#summaryCard #addGift,
#summaryCard #nextToWishlists,
#summaryCard #addtowish,
#summaryCard #addToDB,
#addToWishlistSection #startIdeaBtn,
#addToWishlistSection #addGift,
#addToWishlistSection #nextToWishlists,
#addToWishlistSection #addtowish,
#addToWishlistSection #addToDB,
#complete #startIdeaBtn,
#complete #addGift,
#complete #nextToWishlists,
#complete #addtowish,
#complete #addToDB {
  border: none;
  border-radius: 44px;
  width: 232px;
  height: 48px;
  justify-content: center;
  margin: auto;
  margin-top: 4rem;
}

#giftIdeaHomePage #nextToEvents,
#giftIdeaAdd #nextToEvents,
#takePhoto #nextToEvents,
#summaryCard #nextToEvents,
#addToWishlistSection #nextToEvents,
#complete #nextToEvents {
  border: none;
  border-radius: 44px;
  width: 232px;
  height: 48px;
  justify-content: center;
  margin: auto;
}

#giftIdeaHomePage #addtowish,
#giftIdeaAdd #addtowish,
#takePhoto #addtowish,
#summaryCard #addtowish,
#addToWishlistSection #addtowish,
#complete #addtowish {
  background: #ABA0F5;
}

#giftIdeaHomePage #backToStart,
#giftIdeaHomePage #backToIdeaAdd2,
#giftIdeaHomePage #backToIdeaAdd,
#giftIdeaHomePage #backToSummaryCard,
#giftIdeaHomePage #backToChooseEvent,
#giftIdeaAdd #backToStart,
#giftIdeaAdd #backToIdeaAdd2,
#giftIdeaAdd #backToIdeaAdd,
#giftIdeaAdd #backToSummaryCard,
#giftIdeaAdd #backToChooseEvent,
#takePhoto #backToStart,
#takePhoto #backToIdeaAdd2,
#takePhoto #backToIdeaAdd,
#takePhoto #backToSummaryCard,
#takePhoto #backToChooseEvent,
#summaryCard #backToStart,
#summaryCard #backToIdeaAdd2,
#summaryCard #backToIdeaAdd,
#summaryCard #backToSummaryCard,
#summaryCard #backToChooseEvent,
#addToWishlistSection #backToStart,
#addToWishlistSection #backToIdeaAdd2,
#addToWishlistSection #backToIdeaAdd,
#addToWishlistSection #backToSummaryCard,
#addToWishlistSection #backToChooseEvent,
#complete #backToStart,
#complete #backToIdeaAdd2,
#complete #backToIdeaAdd,
#complete #backToSummaryCard,
#complete #backToChooseEvent {
  align-self: flex-start;
  margin-left: 2rem;
  background: none;
  border: none;
}

#giftIdeaHomePage #backToStart a,
#giftIdeaHomePage #backToIdeaAdd2 a,
#giftIdeaHomePage #backToIdeaAdd a,
#giftIdeaHomePage #backToSummaryCard a,
#giftIdeaHomePage #backToChooseEvent a,
#giftIdeaAdd #backToStart a,
#giftIdeaAdd #backToIdeaAdd2 a,
#giftIdeaAdd #backToIdeaAdd a,
#giftIdeaAdd #backToSummaryCard a,
#giftIdeaAdd #backToChooseEvent a,
#takePhoto #backToStart a,
#takePhoto #backToIdeaAdd2 a,
#takePhoto #backToIdeaAdd a,
#takePhoto #backToSummaryCard a,
#takePhoto #backToChooseEvent a,
#summaryCard #backToStart a,
#summaryCard #backToIdeaAdd2 a,
#summaryCard #backToIdeaAdd a,
#summaryCard #backToSummaryCard a,
#summaryCard #backToChooseEvent a,
#addToWishlistSection #backToStart a,
#addToWishlistSection #backToIdeaAdd2 a,
#addToWishlistSection #backToIdeaAdd a,
#addToWishlistSection #backToSummaryCard a,
#addToWishlistSection #backToChooseEvent a,
#complete #backToStart a,
#complete #backToIdeaAdd2 a,
#complete #backToIdeaAdd a,
#complete #backToSummaryCard a,
#complete #backToChooseEvent a {
  color: #F9F9FB;
}
