// comment
// gift idea page

#giftIdeaHomePage,
#giftIdeaAdd,
#takePhoto,
#summaryCard,
#addToWishlistSection,
#listEmptyPage,
#complete,
#addEventPage,
#addFriendPage {

  #startIdeaBtn,
  #addGift,
  #addToDB,
  #nextToWishlists,
  #friendtoProfile,
  #addAFriendBtn,
  #addEventBtn,
  #addFriendBtn {
    border: none;
    border-radius: 44px;
    width: 232px;
    height: 48px;
    justify-content: center;
    margin: auto;
    margin-top: 0;
    transition: all 1s ease;
    justify-self: flex-end;

    &:hover {
      background-color: $color_button_hover_green_bg;
      color: $color_button_hover_text;
    }

    a {
      transition: all 1s ease;
    }

    &:hover a {
      color: $color_button_hover_text;
    }
  }

  #friendListOutput button#friendtoProfile {
    margin: 0;
  }

  #addEventBtn {
    margin: 0;
  }

  #startIdeaBtn,
  #addGift,
  #addtowish,
  #seeFriendsList,
  #addToDB {
    border: none;
    border-radius: 44px;
    width: 232px;
    height: 48px;
    margin: auto;
  }

  #nextToEvents {
    border: none;
    border-radius: 44px;
    width: 232px;
    height: 48px;
    justify-content: center;
    margin: auto;
  }

  #addtowish,
  #seeFriendsList,
  #addAFriendBtn {
    background: $color_button_purple;
    border: none;
    transition: all 1s ease;

    &:hover {
      background-color: $color_button_hover_purple_bg;
      color: $color_button_hover_text;
    }

    a {
      transition: all 1s ease;
    }

    &:hover a {
      color: $color_button_hover_text;
    }
  }

  #backToStart,
  #backToIdeaAdd2,
  #backToIdeaAdd,
  #backToSummaryCard,
  #backToChooseEvent {
    align-self: flex-start;
    margin-left: 0;
    background: none;
    border: none;

    a {
      color: $color_neutral_white;
    }
  }
}

#registerLink {
  border: none;
  background: none;
}

#skiptologin {
  background: $color_primary;
  border: none;
  font-size: 16px;
  font-family: $font_body;
  padding: 16px;
}

#nav_btn3 a {
  text-decoration: none;
}

#nav_btn3 {
  background-color: $color_home_button;
  // margin-top: 1rem;
  border-style: none;
}

.bottom_navbar li:nth-of-type(3) {
  align-self: center;
}

#giftcard_display button.editButton {
  background: none;
  border: none;
  color: $color_neutral_white;
  font-size: 1.3rem;
  position: relative;
  top: -10vh;
  right: -90%;
  cursor: pointer;
  color: $color_text_dark;
}

#giftcardFriendsDisplay button.editButton {
  background: none;
  border: none;
  color: $color_neutral_white;
  font-size: 1.3rem;
  position: relative;
  top: -8vh;
  right: -90%;
  cursor: pointer;
  color: $color_text_dark;

}

#friendAddBtn {
  padding: 1rem 2rem;

  a {
    text-decoration: none;
  }
}

//////////////// Login Page ////////////////////
#loginPage,
#resetContainer {

  #btn_logout,
  #btn_AddGiftIdea,
  #btn_login {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color_accent;
    border: none;
    border-radius: 44px;
    width: 232px;
    height: 48px;
    justify-content: center;
    margin: auto;
    margin-top: 4rem;
    transition: all 1s ease;

    &:hover {
      background-color: $color_button_hover_green_bg;
      color: $color_button_hover_text;
    }

    a {
      transition: all 1s ease;
    }

    &:hover a {
      color: $color_button_hover_text;
    }
  }
}

main #resetContainer {
  height: 100vh;

  #noreset a {
    text-decoration: none;
  }
}

#addEventBtn {
  margin: 0;
}

.friendEventForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  #friendEventSelect2 {
    width: 100%;
  }

  label,
  select,
  div,
  input#friendDate2 {
    margin: 1rem;
    width: 100%;
  }
}

section>a {
  color: $color_neutral_white;
}

.fa-chevron-left {
  margin: 1rem;
  align-self: baseline;
}

#addEventPage a {
  align-self: baseline;
}

// .nav_btn:hover {
//   box-shadow: 5px 10px 10px $color_neutral_gray;
// }