// gift idea page

#giftIdeaHomePage,
#giftIdeaAdd,
#takePhoto,
#summaryCard,
#addToWishlistSection,
#complete {
  #startIdeaBtn,
  #addGift,
  #addtowish,
  #addToDB {
    border: none;
    border-radius: 44px;
    width: 232px;
    height: 48px;
    justify-content: center;
    margin: auto;
    margin-top: 4rem;
  }

  #startIdeaBtn,
  #addGift,
  #addtowish,
  #addToDB {
    border: none;
    border-radius: 44px;
    width: 232px;
    height: 48px;
    justify-content: center;
    margin: auto;
    margin-top: 4rem;
  }

  #nextToEvents {
    border: none;
    border-radius: 44px;
    width: 232px;
    height: 48px;
    justify-content: center;
    margin: auto;
  }

  #addtowish,
  #seeFriendsList {
    background: $color_button_purple;
  }

  #backToStart,
  #backToIdeaAdd2,
  #backToIdeaAdd,
  #backToSummaryCard,
  #backToChooseEvent {
    align-self: flex-start;
    margin-left: 2rem;
    background: none;
    border: none;

    a {
      color: $color_neutral_white;
    }
  }
}

#registerLink {
  border: none;
  background: none;
}

#skiptologin {
  background: $color_primary;
  border: none;
  font-size: 16px;
  font-family: $font_body;
  padding: 16px;
}

#nav_btn3 a {
  text-decoration: none;
}

#nav_btn3 {
  background-color: $color_card_bg2;
  border-color: $color_card_bg2;
}

.editButton {
  width: 5rem;
}

#friendAddBtn {
  padding: 1rem 2rem;

  a {
    text-decoration: none;
  }
}
