// comment
/* Testing Styles ==================== */
img {
  max-width: 100%;
  height: auto;
}

section,
.displaycard {
  border: 1px solid #000;
  margin: 1%;
}

main {
  display: flex;
  flex-flow: row wrap;

  section {
    margin: 0;
  }
}

#not-logged-in,
#logged-in {
  display: none;
}

#reset_password,
#noreset {
  display: flex;
}

#backtologin {
  display: none;
}

body #giftIdeaProcess .hide,
body #friendsListProcess .hide,
body #introPages .hide,
body #listEmptyPage .hide,
body #addFriendPage .hide,
body #giftcard_display .hide,
body .editCard .hide,
body section#editCardFriends.hide,
body section#giftcardFriendsDisplay.hide {
  display: none;
}



body #giftIdeaProcess .show,
body #friendsListProcess .show,
body #introPages .show,
body #listEmptyPage .show,
body #addFriendPage .show,
body #giftcard_display .show,
body .editCard .show {
  display: flex;
}

/* ============== Intro Pages ========================= */

/* Styles according to design ========================== */
.bottom_navbar {
  ul {
    padding: 1rem;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
  }

  ul li {
    list-style-type: none;
  }
}

main section {
  width: 100%;
  min-height: 70vh;
}

/* Bottom nav bar ==================================== */