.homeButton,
.storeButton,
.friendsButton,
.listButton {
  background: none;
  border: none;

  img {
    height: 2.5cm;
    width: 2.5cm;
  }

  svg {
    height: 3.5rem;
    width: 3.5rem;
    fill: #9aa2b6;
  }
}

.addButton,
.floatButton {
  background-color: $color_neutral_white;
  border-color: $color_footer_icon;
  color: $color_footer_icon;
  font-size: 2rem;
  border-radius: 60%;
  padding: 8px 16px;
}

//********************************* DEMO PAGE IMAGE STYLING **********************************//

#demopage1 img:nth-of-type(1),
#demopage2 img:nth-of-type(1),
#demopage3 img:nth-of-type(1) {
  height: auto;
  max-width: 100%;
  align-self: center;
  margin-top: 5vh;
}

#demopage1 img:nth-of-type(2),
#demopage2 img:nth-of-type(2),
#demopage3 img:nth-of-type(2) {
  height: 1rem;
  width: 4rem;
  margin-top: 12vh;
  margin-bottom: 5vh;
  align-self: center;
}

//********************************* VIDEO IN DESKTOP VIEW **********************************//

#introVideo {
  display: flex;
  flex-direction: column;
}

#introVideo iframe {
  margin-top: 2vh;
  justify-content: center;
  align-self: center;
}
