@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Livvic:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap");

$font_heading: "Baloo Bhai 2",
sans-serif;
$font_body: "Livvic",
sans-serif;
$font_interaction: "Oxygen",
sans-serif;

$color_primary: #363d51;
$color_secondary_dark: #363d51;
$color_secondary_green: #3dc8bf;
$color_accent: #86e4de;
$color_neutral_gray: #b3b7c2;
$color_neutral_white: #f9f9fb;
$color_upcoming: #86e4de;
$color_card_bg: #c7beff;
$color_card_bg2: #ff90a3;
$color_home_button: #f0526c;
$color_hover: #ffb1be;
$color_text_dark: #212531;
$color_button_purple: #aba0f5;
$color_footer_icon: #6e64ac;
$color_button_hover_purple_bg: #8177c3;
$color_button_hover_green_bg: #2ba199;
$color_button_hover_text: #f9f9fb;
$color_top_nav_links: #596480;

// comment