@import url(https://fonts.googleapis.com/css?family=Handlee:regular);

/* Common Css Styles */

body {
  height: 100vh;
  /* display: flex; */
  /* flex-direction: column; */
  margin: 0 auto;
  /* align-items: center; */
  background: linear-gradient(to top left, rgb(119, 185, 238), white);

  /* margin: 0;
  padding: 0; */
}

.link {
  text-decoration: none;
  color: black;
}

h1 {
  font-family: sans-serif;
  font-size: 50px;
  line-height: 1.3em;
  width: 100%;
  text-align: center;
  color: white;
}

img {
  max-width: 100%;
  height: auto;
}

/* bottom navigation bar */

.footer_links {
  display: none;
}

.bottom_navbar ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

.button7 {
  padding: 6px 15px 6px 15px;
  border-radius: 50%;
  border-style: outset;
  font-size: 2rem;
}

/* Desktop View - no bottom navigation bar , footer links */

@media only screen and (min-width: 600px) {

  .bottom_navbar {
    display: none;
  }

  .footer_links {
    display: block;
  }

  .footer_links ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0;
  }

  .footer_links ul a {
    text-decoration: none;
    color: black;
  }

}

/* login page */

.login, .logout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  background-image: linear-gradient(to bottom right,rgb(93, 65, 119),white);
  width: 250px;
  margin: 5% auto;
  padding: 10%;
}

.login input, .login button {
  flex: 1;
  width: 180px;
  margin: 2%;
  justify-content: center;
}

.login button {
  width: 190px;
  border-style: outset;
  background-color: navy;
  color: white;

}

#logged-in, #logged-out {
  display: none;
}

/* main home page - add gift ideas */

.main-home-ideas {
  display: flex;
  flex-direction: column;  
  justify-content: center;
  align-items: center;
  margin: 5% auto;
  padding-top: 35vh;
  padding-bottom: 35vh;
}

.main-home-ideas h2 {
  font-size: 2rem;
font-family: Handlee;
}

.button10 {
  border: none;
  border-radius: 20px;
  padding: 2% 5%;
}

.button10 a {
  text-decoration: none;
  color: black;
}

/* Add idea 1*/

.add-idea-1 {
  display: flex;
  flex-direction: column;  
  justify-content: center;
  align-items: center;
  margin: 5% auto;
}

.button11, .button12 {
  border: none;
  font-size: 2rem;
  background-color: none;
  color: none;
  margin-top: 8rem;
  margin-bottom: 14rem;
}

.button13 {
  border: none;
  border-radius: 20px;
  padding: 1% 8%;
}

.button13 a, .link5 {
  text-decoration: none;
  color: black;
}

.fas {
  margin-right: 5%;
}

input[name="title"] {
  background-color: none;
  border: none;
  border-bottom: 1px solid #000;
  width: 60vw;
  margin-top: 4rem;
}

textarea[name="description"] {
  background-color: none;
  border: none;
  height: 40vw;
  width: 60vw;
}

/* Add idea 2*/

.add-idea-2 {
  display: flex;
  flex-direction: column;  
  justify-content: center;
  align-items: center;
  margin: 5% auto;
}

.button14 {
  border: none;
  border-radius: 20px;
  padding: 1% 8%;
}

.button14 a, .link6 {
  text-decoration: none;
  color: black;
}

.add-idea-2 label {
  margin-bottom: 35vh;
}

/* Add idea 3*/

.add-idea-3 {
  display: flex;
  flex-direction: column;  
  justify-content: center;
  align-items: center;
  margin: 5% auto;
}

.idea-window {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin: 10% 0;;
}


.button15, .button16 {
  width: 100%;
  border: none;
  padding: 3% 8%;
}

.button16 {
  background-color:papayawhip;
}

.button17 {
  border: none;
  border-radius: 20px;
  padding: 1% 8%;
}

.button15 a, .link7 {
  text-decoration: none;
  color: black;
}


