@import url(https://fonts.googleapis.com/css?family=Handlee:regular);

/* Common Css Styles */

body {
  height: 100vh;
  margin: 0 auto;
  background: no-repeat linear-gradient(to top left, rgb(119, 185, 238), white);
}

.link {
  text-decoration: none;
  color: black;
}

h1 {
  font-family: sans-serif;
  font-size: 50px;
  line-height: 1.3em;
  width: 100%;
  text-align: center;
  color: white;
}

img {
  max-width: 100%;
  height: auto;
}

/* bottom navigation bar */

.footer_links {
  display: none;
}

.bottom_navbar ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

.button9 {
  padding: 6px 15px 6px 15px;
  border-radius: 50%;
  border-style: outset;
  border-color: white;
  font-size: 2rem;
}

.button7, .button8, .button10, .button11 {
  padding: 10px;
  border-radius: 50%;
  border-style: outset;
  border-color: white;
  font-size: 0.5rem;
}

.button7:hover, .button8:hover, .button9:hover, .button10:hover, .button11:hover {
  background-color: orangered;
  color: white;
}

.bottom_navbar li {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.bottom_navbar li a {
  text-decoration: none;
  border-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

/* Desktop View - no bottom navigation bar , footer links */

@media only screen and (min-width: 600px) {

  .bottom_navbar {
    display: none;
  }

  .footer_links {
    display: block;
  }

  .footer_links ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
  }

  .footer_links ul a {
    text-decoration: none;
    color: black;
  }

}

/* login page */

.login, .logout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px outset rgb(65, 49, 80);
  background-image: linear-gradient(to bottom right,rgb(105, 81, 128),white);
  height: 250px;
  width: 250px;
  margin: 5% auto;
  margin-bottom: 70%;
  padding: 10%;
}


.login input, .login button {
  flex: 1;
  width: 180px;
  margin: 2%;
  justify-content: center;
}

.button3, .button4 {
  width: 190px;
  border-style: outset;
  background-color: rgb(65, 49, 80);
  color: white;

}

#logged-in, #logged-out {
  display: none;
}

/* main home page - add gift ideas */

.main-home-ideas {
  display: flex;
  flex-direction: column;  
  justify-content: center;
  align-items: center;
  margin: 60% auto;
}

.main-home-ideas h2 {
  font-size: 2rem;
font-family: Handlee;
}

.button12 {
  border: none;
  border-radius: 20px;
  padding: 2% 5%;
}

.button12 a {
  text-decoration: none;
  color: black;
}

/* Add idea 1*/

.add-idea-1 {
  display: flex;
  flex-direction: column;  
  justify-content: center;
  align-items: center;
  margin: 5% auto;
}

.button13, .button14 {
  border: none;
  font-size: 2rem;
  background-color: none;
  color: none;
  margin-top: 90%;
  margin-bottom: 250%;
}

.button15 {
  border: none;
  border-radius: 20px;
  padding: 1% 8%;
}

.button15 a, .link5 {
  text-decoration: none;
  color: black;
}

.fas {
  margin-right: 10%;
}

.add-idea-1 input[name="title"] {
  background-color: none;
  border: none;
  border-bottom: 1px solid #000;
  width: 60vw;
  margin-top: 4rem;
}

textarea[name="description"] {
  background-color: none;
  border: none;
  height: 40vw;
  width: 60vw;
}

/* Add idea 2*/

.add-idea-2 {
  display: flex;
  flex-direction: column;  
  justify-content: center;
  align-items: center;
  margin: 5% auto;
}

.button16 {
  border: none;
  border-radius: 20px;
  padding: 1% 8%;
}

.button16 a, .link6 {
  text-decoration: none;
  color: black;
}

.add-idea-2 label {
  margin-bottom: 33vh;
}

/* Add idea 3*/

.add-idea-3, .listoffriends {
  display: flex;
  flex-direction: column;  
  justify-content: center;
  align-items: center;
  margin: 0;
}

.idea-window {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin: 4% 0;
}

  .window-description {
   margin: 2%; 
   width: 50vw;
}

.idea-window img {
  margin: 0;
  width: 30vw;
}

.button17, .button18 {
  width: 100%;
  border: none;
  padding: 3% 8%;
  border: 1px solid gray;
}

.button19 {
  border: none;
  border-radius: 20px;
  padding: 1% 8%;
  margin-top: 3%;
}

.button19 a {
  text-decoration: none;
  color: black;
}

.button17 a, .link7 {
  text-decoration: none;
  color: black;
}

.listoffriends li {
  list-style-type: none;
  text-align: center;
  padding: 5% 10%;
  width: 70vw;
  border: 1px solid lightblue;
  background-color: rgba(65, 106, 119,0.3);
}

.listoffriends {
  margin: 5% 0;
}

/* Add gift idea4 */

.add-idea-4 {
  display: flex;
  flex-direction: column;  
  justify-content: center;
  align-items: center;
  margin: 5% auto;
}

.add-idea-4 h2 {
  font-size: 2rem;
  font-family: Handlee;
  margin-bottom: 10vh;
}

.button20 {
  border: none;
  border-radius: 20px;
  padding: 1% 8%;
  margin-top: 50vh;
}

.button20 a {
  text-decoration: none;
  color: black;
}

input[type="text"], input[type="date"] {
  width: 50vw;
}

/* Add gift idea5 */

.add-idea-5 {
  display: flex;
  flex-direction: column;  
  justify-content: center;
  align-items: center;
  margin: 5% auto;
}

.add-idea-5 h2 {
  font-size: 2rem;
  font-family: Handlee;
}

.button21 {
  margin-top: 30%;
  margin-bottom: 85%;
}